<div
    class="flex flex-col space-x-5 mt-5 md:mx-10 justify-center items-center xl:w-1/2 xl:mx-auto mb-10 text-sm lg:text-lg lg:text-justify"
>
    <h1 class="text-xl md:text-2xl p-3 font-bold">
        Pentesting y Ciberseguridad.
    </h1>
    <p class="p-3">
        El mundo digital está lleno de puertas abiertas. Algunas deberían estar
        cerradas.<br> Mi objetivo es encontrarlas antes que los malos.
    </p>
    <p class="p-3">
        Tras completar un curso de especialización en ciberseguridad, me he
        volcado en aprender, practicar y aplicar técnicas de pentesting,
        análisis forense, OSINT o defensa activa.
    </p>
    <p class="p-3 text-[#d1d4d4]">
        Estoy buscando mi primera oportunidad profesional como pentester junior
        o analista de seguridad, en un entorno donde pueda crecer, aportar y
        seguir rompiendo cosas...
    </p>
</div>
