---
import Layout from '../layouts/Layout.astro';
import HomeComponent from '../components/HomeComponent.astro';
import SkillComponent from '../components/SkillComponent.astro';
import ProjetcsComponent from '../components/ProjetcsComponent.astro';
import InfoComponent from '../components/InfoComponent.astro';
import ContactoComponent from '../components/ContactoComponent.astro';

---

<Layout title="Fjmarlop Desarollador de Apps">
	<main>
		<section id="inicio">
			<HomeComponent />
		</section>
		<section id="info">
			<InfoComponent />
		</section>
		<section id="proyectos">
			<ProjetcsComponent />
		</section>
		
		<section id="habilidades">
			<SkillComponent />
		</section>
		 
		<section id="contacto">
			<ContactoComponent />
		</section>
	</main>
</Layout>

	


