---
import Layout from '../layouts/Layout.astro';
import HomeComponent from '../components/dev/HomeComponent.astro';
import ProjetcsComponent from '../components/dev/ProjetcsComponent.astro';
import InfoComponent from '../components/dev/InfoComponent.astro';
import ContactoComponent from '../components/dev/ContactoComponent.astro';


---

<Layout title="Dev | Pentester">
	<main>
		<section id="inicio">
			<HomeComponent />
		</section>
		<section id="info">
			<InfoComponent />
		</section>
		<section id="proyectos">
			<ProjetcsComponent />
		</section>
		<section id="contacto">
			<ContactoComponent />
		</section>
	</main>
</Layout>

	


