<div class="mx-5 md:mx-10 xl:w-1/2 xl:mx-auto">
    <h1
        class="font-Gugi text-3xl font-bold my-10 md:text-5xl xl:text-7xl text-orange-400"
    >
        Contacto />
    </h1>
    <section class="mx-3 md:text-xl lg:text-2xl mb-4">
        Gracias por visitar mi portfolio. Si estás interesad@ en mi trabajo te
        animo a que te pongas en contacto conmigo a través de mis redes sociales
        o enviándome un correo electrónico directamente a <a href="mailto:contacto@fjmarlop.es" class="underline text-teal-400">contacto@fjmarlop.es</a> .
        <p>Responderé a tu mensaje tan pronto como sea posible.</p>
    </section>
</div>
