<div
    class="flex flex-col lg:flex-row space-x-5 mt-5 md:mx-10 justify-center items-center xl:w-1/2 xl:mx-auto mb-10"
>
    <div class="flex flex-col">
        <h1
            class="font-Gugi font-bold text-orange-400 text-3xl py-3 mx-auto md:text-5xl"
        >
            Hola Mundo />
        </h1>
        <h2 class="text-teal-400 mx-auto text-xl md:text-3xl py-3 lg:text-4xl">
            Soy Francisco Javier Marmolejo López.
        </h2>
        <article class="text-xl mx-5 md:mx-10 lg:mx-0 md:text-xl">
            <p class="font-bold mt-4 mb-4 text-orange-400">
                Tecnico superior en diseño de aplicaciones multiplataforma.
            </p>
            <p class="my-2">Cuando
            tenía 10 años mis padres me compraron mi primer ordenador y desde entonces
            me quedé fascinado con este mundo.
            </p>
            <p class="my-2">
                Siempre he tenido la curiosidad de aprender y a programar
                pequeñas webs, bases de datos y algunos pequeños programas
                básicos por mi cuenta.
            </p>
            <p class="my-3 font-semibold text-orange-400">
                Ahora quiero hacer de esto mi profesión y comenzar mi carrera.
            </p>

        </article>
    </div>
    <img
        id="funko"
        src="/funko.png"
        alt="funko avatar"
        class="hidden xl:block xl:max-h-[600px] xl:max-w-[500px]"
    />
</div>



