<div class="mx-5 md:mx-10 xl:w-1/2 xl:mx-auto">
    <h1
        class="font-Gugi text-3xl font-bold my-10 md:text-5xl xl:text-7xl text-orange-400"
    >
        Info />
    </h1>
    <section class="mx-3 md:text-xl lg:text-2xl mb-4">
        Me considero una persona dinámica, alegre y positiva con voluntad de
        aprender y enfrentarme a nuevos retos. Comprometido con mi trabajo,
        habituado a trabajar en equipo, con iniciativa, ganas de aportar y
        ayudar en nuevos proyectos.
    </section>
    <h2 class="font-bold text-xl text-teal-400 mb-3 md:text-2xl lg:text-3xl lg:pb-3">
      //  Experiencia laboral //
    </h2>
    <section class="mx-3 md:text-xl lg:text-2xl">
    <!-- 
        <article class="my-3">
            <p>
                <h2 class="font-bold mb-2 text-orange-400">
                    <span class="mr-3"> /></span> Departamento de Carnicería, El
                    Corte Inglés, Córdoba.
                </h2>
            </p>
            <p class="text-end mb-2 text-teal-400">Enero 2024 - Presente</p>
            <p>
                Realizando las labores propias del oficio además de controlar
                parte de la gestión del departamento como pedidos diarios,
                control higiénico sanitario o gestión básica de personal.
            </p>
        </article>
    -->
        <article class="my-3">
            <p>
                <h2 class="font-bold mb-2 text-orange-400">
                    <span class="mr-3"> /></span> División de tecnología, Onesta,
                    Córdoba.
                </h2>
            </p>
            <p class="text-end mb-2 text-teal-400">
                Septiembre 2023 - Diciembre 2023
            </p>
            <p>Formación en puesto de trabajo del ciclo superior.</p>
            <p>Destacar la creación de un Addon para SAP Business One.</p>
        </article>
        <article class="my-3">
            <p>
                <h2 class="font-bold mb-2 text-orange-400">
                    <span class="mr-3"> /></span> Softcontrol S.L., Córdoba.
                </h2>
            </p>
            <p class="text-end mb-2 text-teal-400">Enero 2023 - Abril 2023</p>
            <p>
                Incorporación al proyecto Unigest Web, programa de gestión de
                empresas y contabilidad, donde he desempeñado el rol de Full
                Stack Developer.
            </p>
        </article>
<!-- 
        <article class="my-3">
            <p>
                <h2 class="font-bold mb-2 text-orange-400">
                    <span class="mr-3"> /></span> Departamento de Carnicería, El
                    Corte Inglés, Córdoba.
                </h2>
            </p>
            <p class="text-end mb-2 text-teal-400">
                Diciembre 2002 - Diciembre 2022
            </p>
            <p>
                He realizado las labores propias del oficio además de controlar
                parte de la gestión del departamento como pedidos diarios,
                control higiénico sanitario o gestión básica de personal.
            </p>
            <p>Colaboración en otras áreas de la división de alimentación.</p>
        </article>
    </section>
-->
    <h2
        class="mt-10 font-bold text-xl text-teal-400 mb-3 md:text-2xl lg:text-3xl lg:pb-3"
    >
      //  Formación académica //
    </h2>
    
    <section class="mx-3 md:text-xl lg:text-2xl">
    
        <article class="my-3">
            <p>
                <h2 class="font-bold mb-2 text-orange-400">
                    <span class="mr-3"> /></span>Ciclo superior de diseño de
                    aplicaciones multiplataforma.
                </h2>
            </p>
            <p class="text-end mb-2 text-teal-400">
                Septiembre 2020 - Diciembre 2023
            </p>
            <p>I.E.S Trassierra, Córdoba.</p>
        </article>
    </section>
</div>
